<div class="character-details <%= character.house.downcase %>">
  <p class="character-detail">
    <strong class="detail-label">Name:</strong>
    <%= character.name %>
  </p>

  <p class="character-detail">
    <strong class="detail-label">Location:</strong>
    <%= character.location %>
  </p>

  <p class="character-detail">
    <strong class="detail-label">House:</strong>
    <%= character.house %>
  </p>
</div>

