<div class="container">
  <div class="character-edit">
    <h1 class="page-title">Editar Personajes</h1>
    
    <%= render "form", character: @character %>
    
    <div class="character-links">
      <%= link_to "Show this character", @character, class: "character-link" %> |
      <%= link_to "Back to characters", characters_path, class: "character-link" %>
    </div>
  </div>
</div>
