<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Personajes de Harry Potter</h1>
  <div id="characters">
    <% @characters.each do |character| %>
      <%= render character %>
      <p>
        <%= link_to "Show this character", character,class: "button-style" %>
      </p>
    <% end %>
  </div>

  <%= link_to "New character", new_character_path, class: "botton-new" %>
</div>